<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Embassa't.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C04EF4418CB8F09008FBC9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C04EF5F18CB8F09008FBC9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C4BC43D1AFBC48700215DED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
